@use "../../../styles/mixins" as mix;

.navbar {
  position: sticky;

  .nav {
    align-items: center;
    background: #e3e3e3;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    &__menu-bar {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      div {
        width: 40px;
        height: 4px;
        background: #030303;
        border-radius: 2px;
      }
    }

    &__menu-list {
      background: #e3e3e3;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      min-height: calc(100vh - 60px);
      padding: 24px 16px;
      position: fixed;
      right: -288px;
      row-gap: 24px;
      transition: all 0.2s;
      top: 60px;
      width: 288px;

      &.active {
        right: 0;
      }
    }

    &__link {
      font-size: 18px;
      position: relative;
      transition: all 0.2s;

      &:hover {
        font-weight: bold;
      }

      .active {
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav .nav__menu-bar {
    display: none;
  }

  .nav .nav__menu-list {
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    position: unset;
    min-height: fit-content;
    width: fit-content;

    &__link {
      position: relative;
      &::before {
        background: #f3f3f3;
        bottom: -16px;
        content: "";
        height: 6px;
        position: absolute;
        left: 0;
        transition: all 0.2s;
        width: 0%;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
