@use "../../../styles/mixins" as mix;

.main {
  background: #030303;
  color: #f3f3f3;
  @include mix.flex-center(column);
  gap: 30px;
  min-height: 100vh;

  section {
    background: #f3f3f3;
    border-radius: 10px;
    color: #030303;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 15px;
    padding: 30px;

    .infos {
      color: #4e4e4e;
      font-weight: bold;
    }

    div {
      display: flex;
      column-gap: 15px;
    }
  }
}
