.screen {
  align-items: center;
  background: #182034;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  height: 5.625rem;
  margin-bottom: 1.875rem;
  padding: 1.875rem;
  text-align: end;
}
